<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	>
	<testsuites>
		<testsuite name="WPJE Tests">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory suffix=".php">./lib</directory>
			<file>./jekyll-exporter.php</file>
		</include>
	</source>
</phpunit>