<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	>
	<testsuites>
		<testsuite name="WPJE Tests">
			<file>./tests/test-cli.php</file>
			<file>./tests/test-edge-cases.php</file>
			<file>./tests/test-integration.php</file>
			<file>./tests/test-wordpress-to-jekyll-exporter.php</file>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory suffix=".php">./lib</directory>
			<file>./jekyll-exporter.php</file>
		</include>
	</source>
</phpunit>