<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	>
	<testsuites>
		<testsuite name="WPJE Tests">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./lib</directory>
			<file>./jekyll-exporter.php</file>
		</include>
		<report>
			<clover outputFile="coverage.xml"/>
		</report>
	</coverage>
</phpunit>
